<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="BDD Test Suite" parallel="tests">
    <test name="Tag Test" parallel="classes">
        <method-selectors>
            <method-selector>
                <script language="beanshell"><![CDATA[ System.setProperty("TagName","@SingIn");return true;]]></script>
            </method-selector>
        </method-selectors>
        <classes>
            <class name="cucumber.runners.GenericRunnerExtendsCustomAbstractTestNGCucumberTest"/>
        </classes>
    </test>
</suite>